* {
    padding: 0;
    margin: 0;
    border: 0;

}

:root {
    --color1: #fc7300;
    --color2: #1f8a70;
    --color3: #00425a;
    --color4: #181823;
    --color5: #eff5f5;
    font-family: 'Pacifico', cursive;

}

.nav {

    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);
    border-color: var(--color4) 5px solid;

}

.nav a {
    padding: 30px;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    transition: 0, 4s;
    text-shadow: 0px 2px black;

}

.nav a:hover {
    color: var(--color3);
    transform: scale(1.2);
}

.logo_ppal {
    display: flex;
    height: 600px;
    background-image: url(../multimedia/img/utrefschool.jpg);
    width: 100%;
    background-size: cover;

}

#titulo {
    color: white;
    font-size: 70px;
    margin-top: 13rem;
    margin-left: 30%;
    text-shadow: 6px 6px 9px black;

}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0, 5rem;
    color: var(--color5);
    text-shadow: 6px 6px 9px black;


}

p {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec1 {
    background-color: var(--color2);

}


.quienes {
    display: flex;
    text-align: justify;
    gap: 10px;
    margin-right: 20px;
    background-color: var(--color2);


}

hr {
    border: 4px solid black;
}

.sec2 {
    background-color: var(--color2)
}

.sec3 {
    background-color: var(--color2)
}

.sec4 {
    background-color: var(--color2)
}


.porque {
    display: flex;
    text-align: justify;
    gap: 10px;
    margin-right: 20px;
}

.propu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 5px;
    margin-top: 2rem;
    margin-top: 2 rem;


}

.card-c {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin-right: 16px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.card p {
    margin-bottom: 16px;
}

.fot {
    display: flex;
    justify-content: space-around;
    background-color: var(--color1);

}

.fot h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0, 5rem;
    color: var(--color5);
    text-shadow: 6px 6px 9px black;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0, 9rem;
    width: 33%;
}

.ubicacion {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 33%;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    justify-content: center;

}



.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color3);
    justify-content: center;
    text-align: center;
    flex-basis: 100%;
}

#link {
    color: var(--color3);
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-basis: 100%;
    margin-left: 20%;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--color5);
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: var(--color3);
    color: #fff;
    border: var(--color4) 2px solid;
    cursor: pointer;
}



@media (max-width: 768px) {

    /* Estilos para la tablet */
    #titulo {
        color: var(--color1);
        font-size: 60px;
        margin-top: 10rem;
        margin-left: 15%;
        text-shadow: 6px 6px 9px black;
    }

    .nav {
        height: 7rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--color1);
        border-color: var(--color4) 5px solid;
    }

    .nav a {
        padding: 10px;
        text-decoration: none;
        color: black;
        justify-content: space-around;
        font-size: 1.5rem;
        margin-left: 2rem;
        text-shadow: 0px 2px black
    }

    #quienes1 {
        position: relative;
    }

    #quienes1 img {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 98%;
        height: 350px;
    }

    #quienes1 p {
        margin-top: 360px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .porque {
        position: relative;
    }

    .porque img {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 98%;
        height: 350px;
    }

    .porque p {
        margin-top: 360px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .propu a {
        height: 10rem;
        width: 50rem;
    }

    #maps {
        height: 220px;
        width: 220px;
    }

}

@media (min-width: 320px) {
    #iconmaps {
        display: none;
    }

    @media (max-width: 320px) {
        #iconmaps {
            display: flex;
        }

        @media (max-width: 320px) {

            /* Estilos para celular */
            #titulo {
                color: var(--color1);
                font-size: 30px;
                margin-top: 6rem;
                margin-left: 8%;
                text-shadow: 6px 6px 9px black;
            }

            .logo_ppal {
                display: flex;
                height: 300px;
                background-image: url(../multimedia/img/utrefschool.jpg);
                width: 100%;
                background-size: cover;

            }

            p {
                font-size: 1rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }

            .nav {
                height: 3rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                background-color: var(--color1);
                border-color: var(--color4) 5px solid;
            }

            .propu {
                display: flex;
                flex-direction: column;
                margin-left: 80px;
                gap: 25px;
                
            }

            .nav a {
                text-decoration: none;
                color: black;
                justify-content: space-between;
                font-size: 0.75rem;
                text-shadow: 0px 2px black;
                padding: 0;
                margin-left: 20px;
            }

            #quienes1 {
                position: relative;
            }

            #quienes1 img {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 98%;
                height: 350px;
            }

            #quienes1 p {
                margin-top: 360px;
                padding: 5px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .porque {
                position: relative;
            }

            .porque img {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 98%;
                height: 350px;
            }

            .porque p {
                margin-top: 360px;
                margin-left: 10px;
                margin-right: 10px;
            }

            #maps {
                height: 200px;
                width: 200px;
            }

            .ubicacion {
                display: none;
            }

            #link {
                font-size: 1.5rem;
            }

            .card-c {
                margin-left: 15px;
            }

            #iconmaps {
                height: 150px;
                width: 150px;
                padding: 0px;
            }
        }
    }
}